<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nicolas Dujardin</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css"  rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css"  rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css"  rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css"rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v2.1.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>



  <!-- ======= Mobile nav toggle button ======= -->

  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>{% translate menu.Home %}</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>{% translate menu.About %}</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>{% translate menu.Resume %}</span></a></li>
        <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>{% translate menu.Portfolio %}</span></a></li>
        <li><a href="#services"><i class="bx bx-server"></i> <span>{% translate menu.Services %}</span></a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> <span>{% translate menu.Contact %}</span></a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Nicolas Dujardin</h1>
      <p lang="en">{% translate hero.Prefixe %} <span class="typed" data-typed-items="{% translate hero.Suffixe1 %},{% translate hero.Suffixe2 %},{% translate hero.Suffixe3 %} !"></span></p>
      {% for lang in site.languages %}
        {% if forloop.index0 == 0 %}
          <a href="{{ page.url | relative_url }}" class="footer__link">{{ lang }}</a>
        {% else %}
          |<a href="{{ lang | relative_url }}{{ page.url }}" class="footer__link">{{ lang }}</a>
        {% endif %}
      {% endfor %}

      <div class="social-links">
        <a href="https://github.com/nicoduj" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/nicolasdujardin/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://twitter.com/dujnic" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/dujardin_nicolas/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% translate about.About %}</h2>
          <p>{% translate about.Text %}</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>{% translate about.Job1%} &amp; {% translate about.Job2%}.</h3>
            <p class="font-italic">
              {% translate about.JobSearchSummary%}
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>{% translate about.Birthday%} :</strong> 6 November 1980</li>
                  <li><i class="icofont-rounded-right"></i> <strong>{% translate about.Website%} :</strong> https://github.com/nicoduj</li>
                  <li><i class="icofont-rounded-right"></i> <strong>{% translate about.Phone%} :</strong> {% translate contact.PhoneNotice %}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>{% translate about.City%}:</strong> Bolbec, 76210, France</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>{% translate about.Age%} :</strong> 40</li>
                  <li><i class="icofont-rounded-right"></i> <strong>{% translate about.Degree%} :</strong> Master 2</li>
                  <li><i class="icofont-rounded-right"></i> <strong>{% translate about.Email%} :</strong> nicolas@dujardin.io</li>
                  <li><i class="icofont-rounded-right"></i> <strong>{% translate about.Availability%} :</strong> 3 months</li>
                </ul>
              </div>
            </div>
            <p>
              {% translate about.JobSearch%}
             </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% translate facts.Facts %}</h2>
          <p>{% translate facts.Text %}</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">10</span>
              <p>{% translate facts.MajorProjects %}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-world"></i>
              <span data-toggle="counter-up">5</span>
              <p>{% translate facts.Countries %}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-clock-time"></i>
              <span data-toggle="counter-up">17</span>
              <p>{% translate facts.Experience %}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">17</span>
              <p>{% translate facts.TeamSize %}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% translate skills.Title %}</h2>
          <p>{% translate skills.Text %}</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">{% translate skills.One %}<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">{% translate skills.Two %} <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">{% translate skills.Three %} <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">{% translate skills.Four %} <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">{% translate skills.Five %} <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">{% translate skills.Six %} <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% translate resume.Title %}</h2>
          <p>{% translate resume.Text %}</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Nicolas Dujardin</h4>
              <p><em>{% translate resume.Summary %}</em></p>
              <ul>
                <li>BOLBEC,76210, FRANCE</li>
                <li>{% translate contact.PhoneNotice %}</li>
                <li>nicolas@dujardin.io</li>
              </ul>
            </div>

            <h3 class="resume-title">{% translate resume.Education.Title %}</h3>
            <div class="resume-item">
              <h4>{% translate resume.Education.One.Title %}</h4>
              <h5>{% translate resume.Education.One.Date %}</h5>
              <p><em>{% translate resume.Education.One.Location %}</em></p>
              <p>{% translate resume.Education.One.Text %}</p>
            </div>
            <div class="resume-item">
              <h4>{% translate resume.Education.Two.Title %}</h4>
              <h5>{% translate resume.Education.Two.Date %}</h5>
              <p><em>{% translate resume.Education.Two.Location %}</em></p>
              <p>{% translate resume.Education.Two.Text %}</p>
            </div>
            <div class="resume-item">
              <h4>{% translate resume.Education.Three.Title %}</h4>
              <h5>{% translate resume.Education.Three.Date %}</h5>
              <p><em>{% translate resume.Education.Three.Location %}</em></p>
              <p>{% translate resume.Education.Three.Text %}</p>
            </div>            
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">{% translate resume.Experience.Title %}</h3>
            <div class="resume-item">
              <h4>{% translate resume.Experience.One.Title %}</h4>
              <h5>{% translate resume.Experience.One.Date %}</h5>
              <p><em>{% translate resume.Experience.One.Location %}</em></p>
              <ul>
                <li>{% translate resume.Experience.One.Text1 %}</li>
                <li>{% translate resume.Experience.One.Text2 %}</li>
                <li>{% translate resume.Experience.One.Text3 %}</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>{% translate resume.Experience.Two.Title %}</h4>
              <h5>{% translate resume.Experience.Two.Date %}</h5>
              <p><em>{% translate resume.Experience.Two.Location %}</em></p>
              <ul>
                <li>{% translate resume.Experience.Two.Text1 %}</li>
                <li>{% translate resume.Experience.Two.Text2 %}</li>
                <li>{% translate resume.Experience.Two.Text3 %}</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>{% translate resume.Experience.Three.Title %}</h4>
              <h5>{% translate resume.Experience.Three.Date %}</h5>
              <p><em>{% translate resume.Experience.Three.Location %}</em></p>
              <ul>
                <li>{% translate resume.Experience.Three.Text1 %}</li>
                <li>{% translate resume.Experience.Three.Text2 %}</li>
                <li>{% translate resume.Experience.Three.Text3 %}</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>{% translate resume.Experience.Four.Title %}</h4>
              <h5>{% translate resume.Experience.Four.Date %}</h5>
              <p><em>{% translate resume.Experience.Four.Location %}</em></p>
              <ul>
                <li>{% translate resume.Experience.Four.Text1 %}</li>
                <li>{% translate resume.Experience.Four.Text2 %}</li>
                <li>{% translate resume.Experience.Four.Text3 %}</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>{% translate resume.Experience.Five.Title %}</h4>
              <h5>{% translate resume.Experience.TFiveo.Date %}</h5>
              <p><em>{% translate resume.Experience.Five.Location %}</em></p>
              <ul>
                <li>{% translate resume.Experience.Five.Text1 %}</li>
                <li>{% translate resume.Experience.Five.Text2 %}</li>
                <li>{% translate resume.Experience.Five.Text3 %}</li>
              </ul>
            </div>                                    
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% translate portfolio.Title %}</h2>
          <p>{% translate portfolio.Text %}</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-f1">{% translate portfolio.Filter1 %}</li>
              <li data-filter=".filter-f2">{% translate portfolio.Filter2 %}</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <!--Homebridge plugin-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-f1">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{% translate portfolio.Perso1 %}</h4>
                <p>{% translate portfolio.Filter1 %}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.png" data-gall="portfolioGallery" class="venobox" title={% translate portfolio.Perso1 %}><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details-perso1.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--OWASP contribution-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-f1">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{% translate portfolio.Perso2 %}</h4>
                <p>{% translate portfolio.Filter1 %}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.png" data-gall="portfolioGallery" class="venobox" title={% translate portfolio.Perso2 %}><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details-perso2.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!--ML learning model-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-f1">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{% translate portfolio.Perso3 %}</h4>
                <p>{% translate portfolio.Filter1 %}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.png" data-gall="portfolioGallery" class="venobox" title={% translate portfolio.Perso3 %}><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details-perso3.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- huge project chèques démat Orone : LCL /SOGE  -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-f2">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{% translate portfolio.Pro1 %}</h4>
                <p>{% translate portfolio.Filter2 %}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title={% translate portfolio.Pro1 %}><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details-pro1.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- huge project documents Orone : Bradesco -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-f2">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{% translate portfolio.Pro2 %}</h4>
                <p>{% translate portfolio.Filter2 %}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title={% translate portfolio.Pro2 %}><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details-pro2.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- huge project startup Orone : EasySubs -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-f2">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{% translate portfolio.Pro3 %}</h4>
                <p>{% translate portfolio.Filter2 %}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.png" data-gall="portfolioGallery" class="venobox" title={% translate portfolio.Pro3 %}><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details-pro3.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% translate services.Title %}</h2>
          <p>{% translate services.Text %}</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bxl-dribbble"></i>
              </div>
              <h4><a href="">{% translate services.One.Title %}</a></h4>
              <p>{% translate services.One.Text %}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="bx bx-file"></i>
              </div>
              <h4><a href="">{% translate services.Two.Title %}</a></h4>
              <p>{% translate services.Two.Text %}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bx bx-tachometer"></i>
              </div>
              <h4><a href="">{% translate services.Three.Title %}</a></h4>
              <p>{% translate services.Three.Text %}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                </svg>
                <i class="bx bx-layer"></i>
              </div>
              <h4><a href="">{% translate services.Four.Title %}</a></h4>
              <p>{% translate services.Four.Text %}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                </svg>
                <i class="bx bx-slideshow"></i>
              </div>
              <h4><a href="">{% translate services.Five.Title %}</a></h4>
              <p>{% translate services.Five.Text %}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                </svg>
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="">{% translate services.Six.Title %}</a></h4>
              <p>{% translate services.Six.Text %}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% translate testimonials.Title %}</h2>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="1000">

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>{% translate testimonials.One.Name %}</h3>
            <h4>{% translate testimonials.One.Function %}</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {% translate testimonials.One.Text %}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>{% translate testimonials.Two.Name %}</h3>
            <h4>{% translate testimonials.Two.Function %}</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {% translate testimonials.Two.Text %}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>{% translate testimonials.Three.Name %}</h3>
            <h4>{% translate testimonials.Three.Function %}</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {% translate testimonials.Three.Text %}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="info">
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>{% translate contact.Location %} :</h4>
            <p>76210 BOLBEC FRANCE</p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email :</h4>
            <p>nicolas@dujardin.io</p>
          </div>

          <div class="phone">
            <i class="icofont-phone"></i>
            <h4>{% translate contact.Phone %}  :</h4>
            <p>{% translate contact.PhoneNotice %}</p>
          </div>

        </div>


      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Nicolas Dujardin</h3>
      <p> {% translate footer.CatchPhrase %} </p>
      <div class="social-links">
        <a href="https://github.com/nicoduj" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/nicolasdujardin/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://twitter.com/dujnic" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/dujardin_nicolas/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>ND</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
